body {
    background-image: url(../images/textured_paper.png);
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}


html{
    height: 100%;
}

#footer-id {
    flex-shrink: 0;

}

#container-id {
    flex: 1 0 auto;
    margin: 0%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 2px 2px #cccccc;   
    align-self: center;

}
        

.container {
    margin-top: 10px;
    align-items: center;
    align-self: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
}
.row {
    margin: 0px;
}

.col-12{
    padding: 5px;
    max-width: fit-content;
    flex: 0 0 100%;
    align-content: center;
    align-items: center;

}

.navbar-brand{
    margin-left: 15%; 
}

p {
    display: flex;
}